<!-- mi servirà per l'active class -->
{% assign current = page.url | downcase | split: '/' %}

<body data-barba="wrapper">
    <ul class="transition">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>


    <div class="wrapper">
        <main data-barba="container" data-barba-namespace="{{page.url | replace: ".html", "" | split: '/'  }}"
            class="{{page.url | replace: ".html", "" | split: '/'  }} {{page.layout }}">

            {% include navigazione.html %}

            <section class="viewport">

                <div id="scroll-container" class="scroll-container">


                    <div>


                        <!-- featured -->
                        {% if page.header_img  %}
                        <div id="carouselId" class="carousel featured" data-ride="carousel">
                            <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active" style="background-image:url({{page.header_img}});">
                                </div>
                            </div>
                        </div>
                        {% endif %}