main.azienda {
    h1 {
        letter-spacing: 0;
        line-height: rem(62px);
    }
    h4 {
        letter-spacing: 0;
        text-align: center;
        line-height: rem(36px);
        font-weight: normal;
    }
    .page__title span {
        color: $secondary;
    }
    .heading {
        background-color: #f7f7f7;
    }
    .etica {
        h4 {
            line-height: normal;
        }
    }
    @media (max-width: 960px) {
        h1{
            font-size: 22px;
            color: #333333;
            letter-spacing: 0;
            text-align: center;
            line-height: 22px;
            padding: 0 45px;
        }
    }

}

main.home,
main.servizi {
    @media screen and (max-width: 992px) {
        .big.m-bottom-1 {
            margin-bottom: 20px !important;
        }
        .p-top-4.p-bottom-4.p-left-3.p-right-0 {
            padding-top: 60px;
        }
    }
    #data-box_title {
        background-color: #333;
        width: auto;
        display: inline-block;
        color: $standard_superlight;
        padding: 10px 40px 10px 10px;
    }
    .text {
        display: inline-block;
    }
    .text__first,
    .text__second {
        position: relative;
    }
    .text__word {
        opacity: 0;
    }
    .text__first-bg,
    .text__second-bg {
        display: block;
        width: 110%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 100;
        transform-origin: left;
        transform: scaleX(0);
        min-height: 300px;
    }
    .text__first-bg.data-titolo {
        min-height: inherit;
        width: 800px;
    }
    .text__first-bg {
        background-color: #333;
    }
    #data-contenuto {
        display: block;
        max-width: 80%;

        font-family: "Barlow";
        font-size: 20px;
        color: #333333;
        letter-spacing: 0;
        line-height: 26px;

        & + .text__first-bg {
            width: 90%;
        }
    }
    .number {
        position: absolute;
        top: -180px;
        right: 185px;
        opacity: 0;
    }
}

.carousel.home {
    .carousel-item {
        @media (min-width: 960px) {
            min-height: 650px;
        }
        
    }
    .carousel-caption {
        flex-direction: column;
        justify-content: center;
        @media (min-width: 960px) {
            bottom: 120px;
        }
        @media (max-width: 960px) {
            right: 5%;
            left: 5%;
            h1 {
                line-height: 3.5rem;
                font-size: 3.5625rem;
            }
        }
    }
    #circle {
        position: absolute;
        left: 60%;
        transform: translateX(-60%) translateY(-20%);
        circle {
            stroke-width: 1px;
            fill: none;
        }
    }
    #rectangle {
        position: absolute;
        left: 50%;
        transform: translateX(-20%);
    }
    #rectangleblack {
        position: absolute;
        right: 0%;
        top: 22%;
    }
}

main.home {
    h1 {
        .text__first-bg {
            width: 380px;
        }
    }
    .text__first-bg {
        min-height: inherit;
    }
    .nopadding {
        max-height: 600px;
        &.servizio {
            img {
                object-fit: cover;
                height: 100%;
                transition: 0.3s;
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

.form-group {
    label {
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 500;
        font-size: 21px;
        color: #000000;
        letter-spacing: 0;
        text-align: left;
    }
    .form-control {
        min-height: 45px;
        border: 1px solid #979797;
        border-radius: 4px;
    }
}

@media screen and (max-width: 992px) {
    .navbar {
        padding: 0;
        .navbar-brand {
            margin-left: 10px;
        }
        .navbar-toggler {
            margin-right: 10px;
        }
        .navbar-nav {
            background-color: #000;
            padding: 0 10px;
        }
    }
    footer {
        h2 {
            font-size: 23px;
            color: #f5f5f5;
            letter-spacing: 0;
            text-align: left;
            line-height: 28px;
            padding-top: 30px !important;
            width: 85%;
        }
        h3 {
            font-size: 18px;
            color: #ccc5b0;
            letter-spacing: 0;
            text-align: center;
            line-height: 16px;
        }
        h4 {
            font-size: 14px;
            color: #ccc5b0;
            letter-spacing: 0;
            text-align: center;
            line-height: 16px;
            width: 36%;
            margin: 0 auto;
            margin-top: 5px;
        }
        @media (max-width: 960px) {
            h3{
                font-size: 21px;
            }
            h4{
                font-size: 18px;
                line-height: normal!important;
                width: 55%;

            }
        }
    }
}

@media (max-width: 960px) {
    .nav-servizi {
        display: block;
    }
    main.servizi .featured .carousel-item {
        background-size: 100%;
    }
    .text__first.position-absolute {
        position: relative !important;
    }
    .p-left-3,
    .p-left-4 {
        padding-left: 0;
    }
    .p-right-4 {
        padding-right: 0;
    }
}
