.cta{
    background: #CCC5B0;
    width: 319px;
    height: 74px;
    font-size: 27px;
    font-style: normal;
    color: #000000;
    letter-spacing: 5.6px;
    line-height: 44px;
    border-radius: 0;
}