footer{
    background-image: linear-gradient(180deg, #4B4B4B 0%, #212121 86%);
    // min-height: 1100px;

    .contact{
        
        @media screen and (min-width:1200px){
            display: flex;
            justify-content: space-between;    
        }

        @media screen and (max-width:1200px){
            img{
                width: 40px;
                margin-right: 10px;
            }
        }
        
        
        li{
            font-family: 'Barlow Condensed', sans-serif;
            font-weight: 400;
            font-size: 27px;
            color: $standard_white;
            letter-spacing: 0;
            line-height: 36px;
            
        }
    }
  
    h3{
        color: $secondary;
        letter-spacing: 0;
        text-align: center;
        line-height: 36px;
        text-transform: uppercase;
    }
    h4{
        color: $secondary;
        letter-spacing: 0;
        line-height: 36px;
        font-size: 20px;
    }
    .footer-secondary{
        background-image: linear-gradient(180deg, #000000 0%, #303030 100%);
    }
}