body {
  overflow-x: hidden;
}

.featured {
  .carousel-item {
    min-height: 600px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

main.servizi {
  .featured .carousel-item {
    background-size: inherit;
    min-height: 134px;
    margin-top: 110px;
    margin-bottom: 80px;
  }
  .nav-servizi li a {
    background-color: rgba($color: #d8d8d8, $alpha: 0.43);
    color: $primary;
    text-transform: uppercase;
    padding: 14px 50px;
  }
  .nav-servizi li a.active {
    background: $secondary;
    color: $standard_white;
  }
  .dettaglio-servizi li {
    position: relative;
    &::before {
      content: '';
      width: 23px;
      height: 23px;
      border-radius: 100px;
      background-color: $secondary;
      display: inline-block;
      position: absolute;
      left: -35px;
      top: 9px;
    }
  }

  @media screen and (min-width: 1200px) {
    .col-lg-6.bg__primary {
      position: absolute;
      right: 0;
      transform: translateY(50%);
      max-width: 55%;
    }
  }
}

main.home{
  .carousel.home #circle{
    position: absolute;
    left: 60%;
    transform: translateX(-49%);
    
    z-index: 20;
  }
  .drugstore{
    z-index: 10;
  }
  .cta{
    max-width: 190px;
    text-align: center;
    padding: 15px 35px;
  }
  .special{
    letter-spacing: 0;
    line-height: rem(88px);
  }
}

ul.transition {
  display: flex;
  position: fixed;
  z-index: 1031;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  padding: 0;
  list-style-type: none;
}

ul.transition li {
  transform: scaleX(0);
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
}

.case-history {

  .featured .carousel-item{
    min-height: 900px;
  }
  .cover{
    position: absolute;
  }

  .cover {
    width: 100%;
    height: 100%;
    background: #fff;
  }
  @media screen and (min-width:992px) {
    .risultati{
      top: -100px;
    }
  }
  
}


@keyframes offset {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 1px;
  }
}

svg path {
  animation: offset 3s linear forwards infinite alternate;
}