body {
  overflow-x: hidden;
}
.carousel {
  padding-top: 103px;
}
main.default {
  @media (max-width: 960px) {
    .p-top-2 {
      padding-top: 0;
    }
    .m-bottom-2 {
      margin-bottom: 1.6875rem;
      padding-left: 0rem;
      padding-right: 0;
      
    }
    h1{
      font-size: 31px;
      line-height: 37px;
      letter-spacing: -1px!important;
      font-weight: bold;
    }
  }
}
.featured {
  .carousel-item {
    height: 400px;
    @media (min-width: 960px) {
      min-height: 600px;
    }

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

main.servizi {
  .featured .carousel-item {
    background-size: inherit;
    min-height: 134px;
    margin-top: 110px;
    margin-bottom: 80px;
  }
  #lista-servizi {
    @media screen and (min-width: 992px) {
      background-color: rgba($color: #d8d8d8, $alpha: 0.43);
    }
  }
  .nav-servizi {
    padding: 24px 0;
  }
  .nav-servizi li {
    @media screen and (max-width: 992px) {
      &:nth-child(2n-2) {
        &:before {
          content: "";
          background-color: rgba($color: #d8d8d8, $alpha: 0.43);
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
        }
      }

      a {
        padding-left: 10px !important;
      }
    }
  }
  .nav-servizi li a {
    color: $primary;
    text-transform: uppercase;
    padding: 0;

    font-family: "Barlow", sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #3e3e3e;
    letter-spacing: 0;
    text-align: center;
    @media screen and (max-width: 992px) {
      text-align: left;
    }
  }

  .nav-servizi li a.active {
    background: $secondary;
    color: $standard_white;
  }
  .dettaglio-servizi {
    @media screen and (max-width: 992px) {
      margin-top: 60px;
      margin-bottom: 100px;
      margin-left: 30px;
    }
  }
  .dettaglio-servizi li {
    position: relative;
    margin-bottom: 20px;
    h5 {
      font-weight: normal;
    }
    &::before {
      content: "";
      width: 23px;
      height: 23px;
      border-radius: 100px;
      background-color: $secondary;
      display: inline-block;
      position: absolute;
      left: -35px;
      top: 3px;
    }
  }

  @media screen and (min-width: 1200px) {
    .col-lg-6.bg__primary {
      position: absolute;
      right: 0;
      transform: translateY(50%);
      max-width: 55%;
    }
  }
}

main.home {
  .carousel.home #circle {
    position: absolute;
    left: 60%;
    transform: translateX(-49%);

    z-index: 20;
  }
  .drugstore {
    z-index: 10;
  }
  .cta {
    max-width: 190px;
    text-align: center;
    padding: 15px 35px;
  }
  .special {
    letter-spacing: 0;
    line-height: rem(88px);
  }
}

ul.transition {
  display: flex;
  position: fixed;
  z-index: 1031;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  margin: 0;
  pointer-events: none;
  padding: 0;
  list-style-type: none;
}

ul.transition li {
  transform: scaleX(0);
  background: white;
  position: relative;
  width: 100%;
  height: 100%;
}

.case-history {
  .featured .carousel-item {
    min-height: 900px;
  }
  .cover {
    position: absolute;
  }

  .cover {
    width: 100%;
    height: 100%;
    background: #fff;
  }
  @media screen and (min-width: 992px) {
    .risultati {
      top: -100px;
    }
  }
}

@keyframes offset {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 1px;
  }
}

svg path {
  animation: offset 3s linear forwards infinite alternate;
}
