@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');
// font-family: 'Barlow', sans-serif;
// font-family: 'Barlow Condensed', sans-serif;
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Barlow', sans-serif;
    color: $primary;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 0;
} 
h1,.h1 {
    font-size: rem(62px);
    letter-spacing: rem(5.33px);
    &.big{
        font-size: 94px;
        color: #333333;
        letter-spacing: 0;
        text-align: left;
        line-height: 78px;
        font-weight: normal;
    }
}

h2,.h2 {
    font-size: rem(54px);
    letter-spacing: rem(4.65px);
    &.sottotitolo{
        font-weight: 500;
        font-size: 58px;
        color: #1D1D1D;
        letter-spacing: -1.38px;
        line-height: 46px;
        span{
            font-weight: 600;
            font-size: 39px;
            color: #1D1D1D;
            letter-spacing: 0.1px;
            line-height: 56px;
        }
    }
}

h3,.h3 {
    font-size: rem(42px);
    letter-spacing: rem(3.61px);
    .small{
        font-weight: 500;
        font-size: 39px;
        color: #1D1D1D;
        letter-spacing: 0.1px;
        line-height: 56px;
    }
}

h4,
.h4 {
    font-size: rem(27px);
    letter-spacing: rem(2.32px);
    line-height: rem(36px);
    
    &.big{
        font-size: rem(31px);
        letter-spacing: 0;
        line-height: rem(36px);
    }
}

h5,
.h5 {
    font-size: rem(24px);
    letter-spacing: rem(2.07px);
}

.nav-item{
    font-size: rem(14px);
    letter-spacing: rem(1.2px);
}

label{
    font-size: rem(12px);
    letter-spacing: rem(1.03px);
}

.big{
    font-size: rem(20px);
    color: $primary;
    letter-spacing: 0;
    line-height: rem(26px);
}

p{
    
    font-size: rem(16px);
    letter-spacing: 0;
    line-height: rem(26px);
    
    &.big{
        font-size: rem(18px);
        letter-spacing: rem(2.17px);
    }

    &.bigger{
        font-size: rem(18px);
    
    }
    
}
.nav-item{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: rem(14px);
    color: #DDDDDD;
    letter-spacing: 0.88px;
    text-align: left;
}
a {

}

button,
.cta{
    font-size: rem(27px);
    letter-spacing: rem(2.32px);
}

.special{
    font-size: rem(89px);
    letter-spacing: rem(7.66px);

    
    &.semi-bold{
        line-height: rem(88px);
    }
}

.semi-bold{
    font-weight: 600!important;
}

.letter-0{
    letter-spacing: 0!important;
}

.barlow-condensed{
    font-family: 'Barlow Condensed', sans-serif!important;
}

.letter-spancin-contatti{
    letter-spacing: rem(3.2px);
    line-height:    rem(36px);
}

.counter.number{
    opacity: 0.31;
    font-family: 'Barlow', sans-serif;
    font-size: 221px;
    color: #C7BDA4;
    letter-spacing: 0;
}
