<!doctype html>
<html>

{% include head.html %}

<!-- body -->
<body data-barba="wrapper">
    
{% include header.html %}


<div class="container-fluid heading p-top-4 p-bottom-3">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 mx-auto">
                <h1 class="text-center page__title semi-bold">{{page.title}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-top-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto text-center" id="azienda-desc">
                <h4 class="h4-desktop  color__primary mb-130">
                    {{page.h4}}
                </h4>
                <h4 class="h4-mobile d-none color__primary mb-130">
                    {{page.h4_mobile}}
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-top-2 bg__gradient-primary">
    <div class="container">
        <div class="row text-center">

            <div class="col-md-6">
                <img src="assets/images/business.png" alt="">
                <h3 class="m-top-0 color__standard_white">{{page.box1title}}</h3>
                <p class="m-top-0 m-bottom-3 color__standard_superlight bigger">{{page.box1description}}
                </p>
            </div>

            <div class="col-md-6">
                <img src="assets/images/chef.png" alt="">
                <h3 class="m-top-0 color__standard_white">{{page.box2title}}</h3>
                <p class="m-top-0 m-bottom-3 color__standard_superlight bigger">{{page.box2description}}</p>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid p-top-5 p-bottom-4">
    <div class="row">
        <div class="col-md-5 pl-0"><img src="assets/images/project.png" alt="" class="img-fluid w-100"></div>
        <div class="col-md-6 offset-1">
            <h1 class="mt-4 mt-md-0 mb-5">{{page.progettiTitle}}</h1>
            <p class="mt-3 mt-md-0 display-5">{{page.progettiDescription}}</p>
        </div>
    </div>
</div>

<div class="container-fluid p-bottom-3">
    <div class="container px-0 px-md-3">
        <div class="row">
            <div class="col-md-4 bg__primary_lighter text-center p-top-2 p-left-0 p-right-0 p-bottom-3">
                <h4 class="h4 text-uppercase big color__primary semi-bold mb-4">{{page.card1title}}</h4>
                <p>{{page.card1desc}}</p>
            </div>
            <div class="col-md-4 bg__secondary text-center p-top-2 p-left-0 p-right-0 p-bottom-3">
                <h4 class="h4 text-uppercase big color__primary semi-bold mb-4">{{page.card2title}}</h4>
                <p>{{page.card2desc}}</p>
            </div>
            <div class="col-md-4 bg__primary_lighter text-center p-top-2 p-left-0 p-right-0 p-bottom-3">
                <h4 class="h4 text-uppercase big color__primary semi-bold mb-4">{{page.card3title}}</h4>
                <p>{{page.card3desc}}</p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid p-top-3 p-bottom-3 bg__gradient-dark etica">

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h1 class="color__standard_dark m-bottom-1">{{page.eticatitle}}</h1>

                <h4 class="color__standard_dark">
                    
                    {%- for item in page.eticalist -%}
                         <b>{{item.item.titolo}}</b><br> {{item.item.desc}}<br><br>
                    {%- endfor -%}
            
                </h4>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <img src="{{page.prefooter}}" alt="" class="img-fluid w-100">
        </div>
    </div>
</div>


{% include footer.html %}

</body>

</html>