<!doctype html>
<html>

{% include head.html %}

<!-- body -->

{% include header.html %}


<div class="container-fluid heading p-top-4 p-bottom-3">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <h1 class="text-center page__title">{{page.title}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-top-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h3 class="color__primary">
                    DRUGSTORE PROJECT opera sul territorio Italiano ed estero<br>
                    offrendo molteplici tipologie di servizi per start-up,<br>
                    restyling e affiancamento di attività ristorative.
                    <br><br>
                    Realizza progetti su misura dando vita a format vincenti ed unici nel loro genere<br>
                    tramite analisi di mercato ed economiche,<br>
                    l'ideazione e lo sviluppo del concept, la formazione del personale,<br>
                    la progettazione architettonica e la strategia comunicativa.<br>
                </h3>
                <p class="m-top-2 m-bottom-3">Con oltre 15 anni di esperienza nel mondo dell’hospitality di eccellenza
                    italiana ed internazionale, il team di <br>
                    Drugstore Project si propone come il miglior strumento a disposizione degli investitori che
                    percepiscono la <br>necessità di affidarsi a professionisti del settore in gradodi ottimizzare le
                    risorse della propria attività e <br> minimizzare i rischi per il raggiungimento degli obiettivi
                    preposti.</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid p-top-2 bg__gradient-primary">
    <div class="container">
        <div class="row text-center">

            <div class="col-md-6">
                <img src="assets/images/business.png" alt="">
                <h3 class="m-top-0 color__standard_white">IMPRENDITORI DETERMINATI</h3>
                <p class="m-top-0 m-bottom-3 color__standard_superlight">alla creazione e realizzazione di un format
                    ristorativo<br>
                    redditizio per l'avviamento di ristoranti, cocktail & wine bar, <br>
                    spazi commerciali retail o franchising.
                </p>
            </div>

            <div class="col-md-6">
                <img src="assets/images/chef.png" alt="">
                <h3 class="m-top-0 color__standard_white">RISTORATORI CONSAPEVOLI</h3>
                <p class="m-top-0 m-bottom-3 color__standard_superlight">della necessità di un intervento professionale
                    per il<br>
                    restyling e la gestione della propria attività già esistente,<br>
                    in un mercato esigente ed in continua evoluzione.
                </p>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid p-top-5 p-bottom-4">
    <div class="row">
        <div class="col-md-6 px-0"><img src="assets/images/project.png" alt="" class="img-fluid "></div>
        <div class="col-md-6">
            <h1 class="mt-4 mt-md-0">Come costruiamo <br>progetti vincenti</h1>
            <p class="mt-3 mt-md-0">Drugstore Project abbina l’applicazione di metodologie aziendali strategiche ad eccellenti <br>
                competenze tecniche F&B con un approccio creativo e moderno che la contraddistingue. </p>
        </div>
    </div>
</div>

<div class="container-fluid p-bottom-3">
    <div class="container px-0 px-md-3">
        <div class="row">
            <div class="col-md-4 bg__primary_lighter text-center p-top-2 p-left-0 p-right-0 p-bottom-3">
                <h3 class="color__primary font-weight-semibold m-bottom-0 font-weight-bold">LA PRODUTTIVITÀ È LA CHIAVE <br>
                    DEL NOSTRO SUCCESSO</h3>
                    <p>Per questo sviluppiamo i progetti dei nostri <br>clienti  come fossero le nostre attività!<br>
                        Siamo imprenditori come voi che hanno <br>avviato e gestito molteplici attività<br> commerciali,<br>
                        acquisendo una forte consapevolezza delle<br> difficoltà ma soprattutto delle opportunità<br>
                        del settore.</p>
            </div>
            <div class="col-md-4 bg__secondary text-center p-top-2 p-left-0 p-right-0 p-bottom-3">
                <h3 class="color__primary font-weight-semibold m-bottom-0 font-weight-bold">UN SERVIZIO CHE SI PAGA <br>
                    AUTONOMAMENTE</h3>
                    <p>Riduciamo al minimo gli investimenti<br> contenendo i costi di avviamento e quelli di<br>
                        gestione e garantendo la massima produttività<br> delle risorse messe a disposizione.<br>
                        Progettiamo un’attività economicamente<br> sostenibile e che sia proficua nel tempo<br> utilizzando proiezioni di fattibilità economica<br> ed implementando standard qualitativi<br>
                        funzionali e concreti.</p>
            </div>
            <div class="col-md-4 bg__primary_lighter text-center p-top-2 p-left-0 p-right-0 p-bottom-3">
                <h3 class="color__primary font-weight-semibold m-bottom-0 font-weight-bold">KNOW HOW</h3>
                <p>
                    Esperienza manageriale ventennale in aziende di comprovato <br>
                    successo tra le quali operatori alberghieri di strutture 5 stelle lusso. <br> <br>

                    Visione “extra-ordinaria” nell’ideazione dei prodotti F&B, così come nello sviluppo di tutti i servizi correlati. Il nostro obiettivo  <br>
                    primario è quello di offrire esperienze uniche  e memorabili, grazie <br>
                    soprattutto ad una cura scrupolosa del customer service,<br>
                    l’arma vincente!<br><br>

                    Ci avvaliamo di una rete di collaboratori selezionati sul campo tra i migliori professionisti del proprio settore e di stretti rapporti<br>
                    commerciali con aziende affermate nostre partner.

                </p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid p-top-3 p-bottom-3 bg__gradient-dark etica">
    
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto text-center">
                <h1 class="color__standard_dark m-bottom-1">ETICA E VALORI</h1>
                
                <h4 class="color__standard_dark">
                    Condivisione (La nostra Economia Circolare)<br>
                    Mettiamo a disposizione dei nostri clienti<br>
                    e collaboratori tutti i nostri contatti e risorse commerciali così da animare il mercato e poter<br>
                    garantire competitività ed un bacino d’utenza esponenzialmente più ampio.<br><br>

                    Sostenibilità<br>
                    Riduciamo al minimo gli sprechi ed i consumi. Ottimizziamo i proventi e gli<br>
                    investimenti con un occhio di riguardo costante al rispetto per l’ambiente.<br><br>

                    Innovazione<br>
                    Confronto, passione, mentalità fuori dagli schemi. Abbiamo voglia di<br>
                    crescere, di spingerci oltre i limiti così da anticipare i trend ed essere sempre al passo con i tempi.<br><br>

                    Collaborazione<br>
                    Siamo convinti che il principale strumento di crescita sia la coesione nel<br>
                    lavoro di gruppo. Per questo ci avvaliamo di partners altamente qualificati<br><br>

                    Empatia <br>
                    Un team affiatato e valorizzato è alla base del successo delle migliori aziende.<br>
                    Questo è un principio fondante del nostro modo di lavorare, indispensabile per la<br>
                    costruzione di uno staff produttivo e allineato agli ideali che il brand rappresenta.<br><br>

                    Solidarietà<br>
                    Il senso di ospitalità è un valore alto che spesso viaggia assieme a temi<br>
                    sociali ed umanitari. Drugstore Project, sensibile a tali questioni, offre il proprio supporto<br>
                    prodigandosi con iniziative solidali volte al sostegno della comunità.<br><br>

                    Integrità<br>
                    Onestà e trasparenza sono i principi con i quali gestiamo i rapporti con i nostri<br>
                    clienti, i fornitori e con le aziende nostre partner.<br>
                </h4>
            </div>
        </div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 px-0">
            <img src="assets/images/etica.png" alt="" class="img-fluid w-100">
        </div>
    </div>
</div>


{% include footer.html %}