<!doctype html>
<html>
{%- include head.html -%}

<!-- body -->

{%- include header.html -%}

<div class="container-fluid p-top-4 ">

    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="text-uppercase">{{page.title}}</h1>
                <p>{{content}}</p>
                <h1><small>TELEFONO</small></h1>
                <h1 class="sottotitolo">{{page.telefono}}</h1>
                <h1 class="p-top-0"><small>MAIL</small></h1>
                <h1 class="sottotitolo">{{page.email}}</h1>
                <p class=" p-top-1 p-bottom-4">
                    
                </p>
            </div>
            <div class="col-lg-6">
                <form action="" class="m-top-4">

                    <div class="form-group">
                        <label class="h4 small color__primary font-weight-bold mb-0 line-height-normal" for="">Nome e Cognome</label>
                        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">

                    </div>

                    <div class="form-group">
                        <label class="h4 small color__primary font-weight-bold mb-0 line-height-normal" for="">Azienda</label>
                        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>

                    <div class="form-group">
                        <label class="h4 small color__primary font-weight-bold mb-0 line-height-normal" for="">Email</label>
                        <input type="email" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>

                    <div class="form-group">
                        <label class="h4 small color__primary font-weight-bold mb-0 line-height-normal" for="">Telefono</label>
                        <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                    </div>

                    <div class="form-group">
                        <label class="h4 small color__primary font-weight-bold mb-0 line-height-normal" for="">Messaggio</label>
                        <textarea class="form-control" name="" id="" rows="3"></textarea>
                    </div>


                    <button type="submit" class="btn bg__primary color__standard_white">INVIA</button>

                </form>
            </div>
        </div>
    </div>

</div>

{% include footer.html %}