<!DOCTYPE html>
<html lang="it">

<head>
    {% include head.html %}
</head>

<body data-barba="wrapper">

    {% include header.html %}

    <div id="carouselId" class="carousel slide featured home " data-ride="carousel">

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="carousel-caption text-left">

                    <svg class="d-none d-md-inline-block" id="circle" width="526px" height="526px" viewBox="0 0 526 526" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                        <circle id="Oval" cx="262" cy="262" r="262" stroke="#979797"></circle>

                    </svg>


                    <!-- <svg class="d-none d-md-inline-block" id="rectangle" width="482px" height="336px" viewBox="0 0 482 336" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <rect id="rect" x="0" y="0" width="482" height="336" fill="#CCC5B0"></rect>

                    </svg> -->


                    
                    
                    <h1 class="special semi-bold color__primary position-relative m-bottom-0">
                        <span class="text__first">
                            <span class="text__word letter-0">
                                Hospitality<br> Consulting
                            </span>
                            <span class="text__first-bg"></span>
                        </span>
                    </h1>

                    <h4 class="color__primary position-relative m-bottom-0">
                        <span class="text__first">
                            <span class="text__word letter-0">
                                Consulenza strategica a 360° per la ristorazione e l’hotellerie
                            </span>
                            <span class="text__first-bg"></span>
                        </span>
                    </h4>

                    <a href="/servizi.html" class="cta bg__primary color__standard_white position-relative d-block">
                        <span class="text__first">
                            <span class="text__word" style="
                            display: flex;
                            align-items: center;
                            height: 100%;
                            justify-content: center;
                        ">
                                SERVIZI
                            </span>
                            <span class="text__first-bg"></span>
                        </span>
                    </a>

                </div>
                
                <div class="col-3 offset-7 drugstore d-none d-md-inline-block" >
                    <img src="assets/images/drugstore-logo.png" alt="" class="img-fluid">
                </div>

            </div>

        </div>

    </div>


    
    <div class="container-fluid p-top-2 bg__gradient-secondary">
        <div class="container">
            <div class="row text-center">
                <div class="col-10 m-bottom-2 logo mx-auto" id="" data-aos="fade-up">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 233.02 30.5">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: none;
                                    stroke: #878787;
                                    stroke-miterlimit: 10;
                                    stroke-width: 0.25px;                                
                                }
                            </style>
                        </defs>
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_2-2" data-name="Layer 2">
                                <g id="Layer_2-3" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                        <rect class="cls-1" x="30.99" y="0.88" width="3.56" height="28.75" />
                                        <polygon class="cls-1"
                                            points="36.66 16.39 47.15 30.33 50.08 28.24 39.6 14.3 36.66 16.39" />
                                        <path class="cls-1"
                                            d="M44.37,5.49A5.14,5.14,0,0,1,45.65,9a5,5,0,0,1-.73,2.67,4.24,4.24,0,0,1-2,1.7l-.29.11,1.63,2.9.23-.09A7.59,7.59,0,0,0,48,13.37,8,8,0,0,0,49.21,9,8,8,0,0,0,46.9,3.27,7.88,7.88,0,0,0,41,.88H37.27V4.06h3.62A4.4,4.4,0,0,1,44.37,5.49Z" />
                                        <path class="cls-1"
                                            d="M74.1,26.7a10.29,10.29,0,0,0,2.78-7.13V.88H73.31V19.57a7.26,7.26,0,0,1-1.75,4.84A7.77,7.77,0,0,1,67.11,27l-.23.05V30.3l.32,0A11.1,11.1,0,0,0,74.1,26.7Z" />
                                        <path class="cls-1"
                                            d="M59.52,24.43a7.35,7.35,0,0,1-1.74-4.86V.88H54.22V19.57A10.23,10.23,0,0,0,57,26.68a11.2,11.2,0,0,0,6.87,3.58l.32,0V27.05L63.94,27A7.42,7.42,0,0,1,59.52,24.43Z" />
                                        <rect class="cls-1" x="96.05" y="13.66" width="14.24" height="3.23" />
                                        <path class="cls-1"
                                            d="M106.14,19.23a10.67,10.67,0,0,1-3.87,5.83,10.17,10.17,0,0,1-6.2,2.09A10.41,10.41,0,0,1,88,23.63a12.15,12.15,0,0,1-3.18-8.38A12.25,12.25,0,0,1,88,6.83a10.3,10.3,0,0,1,8-3.52,10.45,10.45,0,0,1,8.32,3.93l.2.23,2.39-2.4-.18-.19a14.6,14.6,0,0,0-21.3-.29A15.14,15.14,0,0,0,81.2,15.25a15,15,0,0,0,4.22,10.62,14.62,14.62,0,0,0,18.83,1.88,13.45,13.45,0,0,0,5.16-7.23l.08-.24-3.27-1.35Z" />
                                        <path class="cls-1"
                                            d="M119,4.63a6.2,6.2,0,0,1,4-1.35,7.33,7.33,0,0,1,4.11,1.24,6.36,6.36,0,0,1,2.54,3.59l.08.29,3-1.14L132.61,7A8.79,8.79,0,0,0,129,1.9a10.67,10.67,0,0,0-6-1.78,10.06,10.06,0,0,0-6.41,2.15,7.29,7.29,0,0,0-2.74,6,7.54,7.54,0,0,0,1.71,4.76,8.49,8.49,0,0,0,4.78,2.88l1.11.24.81-3.19-1.17-.27a4.66,4.66,0,0,1-2.78-1.65,4.58,4.58,0,0,1-1-2.83A4.37,4.37,0,0,1,119,4.63Z" />
                                        <path class="cls-1"
                                            d="M133,21.68a7.62,7.62,0,0,0-1.72-5,8.39,8.39,0,0,0-4.89-2.73l-1.33-.3-.85,3.16,1,.23a5.69,5.69,0,0,1,3.23,1.68,4.49,4.49,0,0,1,1.09,3.09,4.68,4.68,0,0,1-1.83,3.94,7.09,7.09,0,0,1-4.5,1.47,7.62,7.62,0,0,1-4.3-1.27,6.65,6.65,0,0,1-2.65-3.76l-.09-.29-3.08,1.26.08.25A9.22,9.22,0,0,0,117,28.6a11.51,11.51,0,0,0,6.24,1.78,9.89,9.89,0,0,0,6.95-2.5A8.12,8.12,0,0,0,133,21.68Z" />
                                        <rect class="cls-1" x="144.09" y="6.78" width="3.56" height="22.85" />
                                        <rect class="cls-1" x="135.33" y="0.88" width="21.08" height="3.19" />
                                        <path class="cls-1"
                                            d="M162.56,25,165,22.41l-.16-.19a11.56,11.56,0,0,1-3-7.8,10.85,10.85,0,0,1,10-10.73,11.36,11.36,0,0,1,8,2.38l.2.15,2.43-2.61-.25-.19a14.49,14.49,0,0,0-19.76,1.47,14.5,14.5,0,0,0-3.95,9.71,14.33,14.33,0,0,0,3.87,10.19Z" />
                                        <path class="cls-1"
                                            d="M184.43,5.46,182,8.07l.16.19a11.5,11.5,0,0,1,3,7.78,10.86,10.86,0,0,1-10,10.76,11.44,11.44,0,0,1-8-2.4l-.2-.15-2.43,2.61.25.19a14.55,14.55,0,0,0,9,3.22,14.78,14.78,0,0,0,10.87-4.74,14.29,14.29,0,0,0,3.93-9.69,14.44,14.44,0,0,0-4-10.15Z" />
                                        <path class="cls-1"
                                            d="M206,5.49A5.14,5.14,0,0,1,207.27,9a5,5,0,0,1-.73,2.67,4.24,4.24,0,0,1-2,1.7l-.29.11,1.63,2.9.23-.09a7.59,7.59,0,0,0,3.49-2.93A8,8,0,0,0,210.83,9a8,8,0,0,0-2.31-5.74,7.88,7.88,0,0,0-5.9-2.39h-3.73V4.06h3.62A4.4,4.4,0,0,1,206,5.49Z" />
                                        <rect class="cls-1" x="192.61" y="0.88" width="3.56" height="28.75" />
                                        <polygon class="cls-1"
                                            points="198.28 16.39 208.77 30.33 211.7 28.24 201.22 14.3 198.28 16.39" />
                                        <polygon class="cls-1"
                                            points="232.9 0.88 215.84 0.88 215.84 29.62 232.9 29.62 232.9 26.43 219.4 26.43 219.4 4.06 232.9 4.06 232.9 0.88" />
                                        <rect class="cls-1" x="222.12" y="13.66" width="8.64" height="3.19" />
                                        <polygon class="cls-1"
                                            points="0.13 2.48 0.13 26.41 3.69 30.02 3.69 5.8 0.13 2.48" />
                                        <path class="cls-1"
                                            d="M24.9,8.23h0A13.52,13.52,0,0,0,12.66.88H1.84L5.26,4.06h7A9.88,9.88,0,0,1,20,7.35a11.52,11.52,0,0,1,3,7.9,11.52,11.52,0,0,1-3,7.9,9.88,9.88,0,0,1-7.7,3.29h-.63v3.18h1A13.52,13.52,0,0,0,24.9,22.27a15.34,15.34,0,0,0,1.65-7A15.34,15.34,0,0,0,24.9,8.23Z" />
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
                <div class="col-12 m-bottom-2">
                    <h1 class="letter-0">Realizziamo progetti su misura<br> dando vita a format vincenti ed unici nel loro genere</h1>
                </div>
                <div class="col-md-4">
                    <img src="assets/images/startup.png" alt="">
                    <h3 class="m-top-0 color__primary letter-0 font-weight-normal">START-UP</h3>
                    <p class="m-top-0 m-bottom-3 color__primary_light">Drugstore Project possiede gli strumenti ed il know how necessari per sviluppare progetti 
                        vincenti di multiforme entità curando qualsiasi aspetto legato alla creazione e alla gestione 
                        di attività ristorative. Ci avvaliamo di una consolidata esperienza manageriale in strutture di eccellenza e di diverso genere, ma anche del supporto di talenti e professionisti nei vari dipartimenti 
                        coinvolti nell'attuazione della strategia concordata con il cliente stesso.
                        </p>
                </div>
    
                <div class="col-md-4">
                    <img src="assets/images/restyling.png" alt="">
                    <h3 class="m-top-0 color__primary letter-0 font-weight-normal">RESTYLING</h3>
                    <p class="m-top-0 m-bottom-3 color__primary_light">
                        A seguito della raccolta e dello studio di dati sensibili ci occupiamo di sottolineare quali siano i punti di forza e di debolezza del progetto, 
                        disegnando una strategia chiara che punti ad un riposizionamento del brand sul
                        mercato che possa garantire un maggior profitto.</p>
                </div>
    
                <div class="col-md-4">
                    <img src="assets/images/affiancamento.png" alt="">
                    <h3 class="m-top-0 color__primary letter-0 font-weight-normal">AFFIANCAMENTO</h3>
                    <p class="m-top-0 m-bottom-3 color__primary_light">
                        Al termine del mandato o su richiesta di un nuovo cliente, 
                        offriamo la nostra assistenza nella gestione dell’attività per un periodo da concordare, 
                        volta al perfezionamento delle dinamiche interne e ad una crescita mirata del business.</p>
                </div>
    
            </div>
        </div>
    </div>
    
    
    <div class="container-fluid p-top-2 p-bottom-4 px-md-3 px-0">
        <div class="container">
            <div class="row text-center overflow-hidden">
                <div class="col-12 mt-130"><h1 class="semi-bold letter-0">I nostri Servizi</h1></div>
                {%- for servizio in site.data.servizi -%}
                <div class="col-md-4 nopadding position-relative overflow-hidden servizio {{servizio.titolo | downcase | split : " " | first | replace: ", ", " " | replace: "<br>", ""}}">
                    <a href="servizi.html?servizio={{forloop.index}}" class="w-100 text-center overflow-hidden bg__after">
                        <img class="img-fluid w-100" src="{{servizio.featured}}" alt="" style="min-height: 740px; object-fit: cover;">
                        <h4 class="color__standard_white position-absolute w-100 text-uppercase">{{servizio.titolo}}</h4>
                    </a>
                </div>
                {%- endfor -%}
            </div>
        </div>
    </div>
    
    
    <div class="container-fluid p-top-2 p-bottom-3 bg__gradient-left">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h4 class="pb-5 color__primary  text-uppercase big semi-bold">Ci hanno scelto</h4>
            </div>
            <div class="col-12 col-md-3 text-center">
                <img class="img-fluid" width="" src="assets/images/LOGO HYATT.png" alt="">
            </div>
            <div class="col-12 col-md-3 text-center mt-5 mt-md-0 d-flex align-items-center">
                <img class="img-fluid w-100" style="margin-left: 10px;" width="" src="assets/images/LOGO INTERCONTINENTAL.png" alt="">
            </div>
            
        </div>
    </div>



    {% include footer.html %}

</body>

</html>